<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>

<%= simple_form_for [ @category, @bookmark ] do |f| %>
  <%= f.association :recipe, as: :select, label: "What recipes would you like to bookmark in this category?" %>
  <%= f.input :comment %>
  <%= f.submit "Complete" %>
<% end %>
